body {
	background-image:url('./wall.png');
	margin:0px;
	padding:0px;
	min-height:100vh;
}

h2 {
	color:#fff !important
}

#footer {
	text-align:center;
	position:relative;
	bottom:0
}

nav {
	position:absolute;
	background-color:transparent !important
}

.navbar-brand {
	margin-left:2rem;
}

.navbar-brand>a>h2 {
	color:#FF6D0D !important
}

form {
	padding:6rem 0
}

.hero {
	max-width:70%;
	border-radius:10px;
	text-align:center;
	margin:10rem auto;
	background-color:#a6dadd;
	height:50vh
}
