{% extends "base.html" %}

{% block content %}
<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h2 class="title is-2">Short Link Generated</h2>
			<p><strong>Original URL: </strong> {{data.original_url}}</p>
			<p><strong>Shortened URL: </strong> <a href="{{url_for('short.redirect_to_url', short_url = data.short_url, _external=True)}}"
												   target="_blank">{{url_for('short.redirect_to_url', short_url = data.short_url, _external=True)}}</a></p>
		</div>
	</div>
</section>
{%endblock%}
